<!-- ========================= FOOTER ========================= -->
<div class="footer_section layout_padding" id="footer">
	<div class="container">
	   <div class="row">
		  <div class="col-lg-6 col-sm-6">
			 <h3 class="useful_text">About</h3>
			 <p class="footer_text">Experience the future of technology with Zen Digitus. We deliver innovative solutions tailored to your specific needs.</p>
		  </div>
		  
		  <div class="col-lg-6 col-sm-6">
			 <h1 class="useful_text">Contact Us</h1>
			 <div class="location_text">
				<ul>
				   <li>
					  <a href="#">
					  <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address :No.58,First Floor,Tulasi Street,Kattupakkam chennai-600056</span>
					  </a>
				   </li>
				   <li>
					  <a href="https://wa.me/919884610544" class="fa fa-phone" target="_blank">
						  +91 98846 10544
					   </a>
				   </li>
				   <li>
					  <a href="https://wa.me/919884610544" class="fa fa-whatsapp" target="_blank">
						 +91 98846 10544
					   </a>
				   </li>
				   <li>
					  <a href="mailto:zendigitus@gmail.com" class="fa fa-envelope" target="_blank">
						 Gmail: zafrocopsafetyshoes@gmail.com
					   </a> 
				   </li>
				   
				</ul>
			 </div>
		  </div>
	   </div>
	</div>
 </div>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
		  e.preventDefault();	
		  $('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>	


</body>
</html>